<!-- row -->
<div class="row">
    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i> 
            Inicio 
            <!--<span>>  
                    Bienvenido
            </span>-->
        </h1>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="row">
        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
            <div class="">
                <div class="well slideInLeft fast animated" > 
                    <div class="media">
                        <img src="../img/alphateam.png"  class="media-object" style="filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25; margin: 0 auto;" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end row -->
</section>
