<div class="well well-light" style="margin-bottom: 0px;">
    <div class="row">
        <label class="col-md-3 txt-color-red">Full Name</label>
        <div class="col-md-4">
            <label class="lb-fullname">--</label>
        </div>
        <div class="col-md-4">
            <label class="lb-lastname">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red">Username</label>
        <div class="col-md-6">
            <label class="lb-username">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red">E-Mail Address</label>
        <div class="col-md-6">
            <label class="lb-email">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red ">Password</label>
        <div class="col-md-6">
            <label class="lb-pwd">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red ">Gender</label>
        <div class="col-md-6">
            <label class="lb-gender">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red ">Document Type</label>
        <div class="col-md-3 selectContainer">
            <label class="lb-document-type">--</label>
        </div>
        <label class="col-md-2 txt-color-red ">Document Number</label>
        <div class="col-md-3">
            <label class="lb-document-number">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red">Cellphone</label>
        <div class="col-md-6">
            <label class="lb-cellphone">--</label>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 txt-color-red ">Birthdate</label>
        <div class="col-md-6">
            <label class="lb-birthdate">--</label>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default pull-right btn-edit-user" type="button">
                    Edit
                </button>
            </div>
        </div>
</div>